@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Delius+Unicase:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --card-radius: 1em;
    --card-height: 115.7px;
    --card-width: 300px;
    --card-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    --card-border: none;
    --social-icons-border: 3px solid black;
    --social-icons-border-radius: 1em;
}

body {
    font-family: 'DM Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-family: 'Delius Unicase', cursive;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
}

.navbar {
    background-color: #6F6AF7;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav {
    color: #fff;
    padding: 15px;
    text-align: center;

}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 20px 30px;
    margin: 0 30px 0 0;
    display: inline-block;
    font-size: 2em;
}


input.search {
    background-image: url('src/icons/searchlogo.png');
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    background-size: 1.5em;
    background-position-x: 13em;
    border-radius: 2em;
    padding: 20px;
    width: 15vw;
    margin-bottom: 10x;
    outline: none;
    font-size: 1.2em;
}

#bars {
    font-size: 3em;
    color: #fff;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 6em;
    width: 80vw;
    margin-left: 9%;
}

textarea {
    resize: none;
    border-radius: 10px;
    background-color: #E5D8FF;
    border: none;
    box-shadow: 2px 2px 10px #b9aece inset;
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'DM Sans', sans-serif;
}

.card-box {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.card1 {
    border: var(--card-border);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    background-color: #929DFF;
    height: var(--card-height);
    width: var(--card-width);
    margin-right: 4%;
}

.card2 {
    border: var(--card-border);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    background-color: #734CF2;
    height: var(--card-height);
    width: var(--card-width);
    margin-right: 4%;
}

.card3 {
    border: var(--card-border);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    background-color: #D288FF;
    height: var(--card-height);
    width: var(--card-width);
    margin-right: 4%;
}

.card4 {
    border: var(--card-border);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    background-color: #000000;
    height: var(--card-height);
    width: var(--card-width);
}

.card-text {
    font-size: 1.7em;
    line-height: 3rem;
    margin-left: 0.8em;
    margin-top: 10px;
}

.help-icon {
    position: fixed;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}

.info {
    border-radius: 1em;
    display: flex;
    height: 75vh;
    width: 78vw;
    justify-content: space-between;
    padding: 20px;
    margin: 50px 50px 10px 10%;
    background-color: #483EFF;
}

.left-info button {
    border: 4px solid white;
    font-size: 2em;
    padding: 20px;
    margin: 60px;
    width: 18vw;
    height: 12vh;
    background: transparent;
    text-transform: uppercase;
    border-radius: 0.5em;
    color: #FFFFFF;
    margin-right: 70%;
    font-weight: 600;
    cursor: pointer;
}

.right-info {
    border-radius: 1em;
    border: none;
    height: 71vh;
    width: 130vw;
    background-color: #FFFFFF;
}

#active-btn {
    background-color: #BCE0F6;
    color: #000000;
    border: none;
    box-shadow: var(--card-shadow);
}

#next-btn {
    border-radius: 12.5px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
    width: 10vw;
    height: 8vh;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2.5px;
    position: static;
    margin-top: 10%;
    margin-left: 77%;
    cursor: pointer;
    border: none;
}

.basic-info {
    line-height: 2em;
    padding: 5em;

}

#info-para {
    font-size: 1.5em;
    margin-top: 50px;
    margin-left: 40px;
    line-height: 60px;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 3em;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    letter-spacing: 5px;
}


/*  Social Media Icons */


.social {
    display: block;
    float: right;
    position: sticky;
    top: 15%;
    bottom: 100px;
    margin-top: 18%;
}


#wa {
    border: var(--social-icons-border);
    border-radius: var(--social-icons-border-radius);
    height: 80px;
    padding: 10%;
    cursor: pointer;
}

#fb {
    border: var(--social-icons-border);
    border-radius: var(--social-icons-border-radius);
    height: 80px;
    padding: 10%;
    cursor: pointer;
}

#twit {
    border: var(--social-icons-border);
    border-radius: var(--social-icons-border-radius);
    height: 70px;
    width: 80px;
    padding: 10%;
    cursor: pointer;
}
